//- includes/head.pug
head
  title Places
  <meta name="viewport" content="width=device-width">
  link(rel='stylesheet', href='/styles/main.css')
  link(rel='stylesheet', href='/styles/userHeader.css')
  link(rel='stylesheet', href='/styles/dashboard.css')
  link(rel='stylesheet', href='/styles/addModal.css')
  <script src="https://kit.fontawesome.com/e722fb4d7e.js" crossorigin="anonymous"></script>
  <script src="/scripts/dropdown.js" defer></script>
  <script src="/scripts/addModal.js" defer></script>
  <script src="/scripts/tripCard.js" defer></script>