//- includes/head.pug
head
  title Places
  link(rel='stylesheet', href='/styles/main.css')
  link(rel='stylesheet', href='/styles/userHeader.css')
  link(rel='stylesheet', href='/styles/dashboard.css')
  <script src="https://kit.fontawesome.com/e722fb4d7e.js" crossorigin="anonymous"></script>
  <script src="/scripts/dropdown.js" defer></script>