//- dashboard.pug
doctype html
html
    include includes/userHead.pug
    body
        include includes/userHeader.pug
        div(class="overlay", id="overlay")
        div(class="main-container")
            div(class="trips-container", id="trips")
                div(class="front opacity", id="front")
                    h3 Trips
                    p 
                div(class="back", id="back")
                    h3 More Info
                    p This is the back side of this card
                    p maybe this will work
                    p we just add or remove a show class??


           
            
