nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav h1.logo {
    color: var(--primary-color);
}
nav h1.logo:hover {
    cursor: pointer;
    color: var(--primary-color-hover);
}

/* Nav Links */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: var(--secondary-color);
}
nav ul li a:hover {
    color: var(--secondary-color-hover);
}

nav ul li.divider {
    color: var(--primary-color);
}